# Informations relative à l'URL de l'API
VITE_API_BASE_URL=https://api.example.com
VITE_API_VERSION=v1

# Informations relative à Google Maps
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key
VITE_GOOGLE_MAPS_API_URL=https://maps.googleapis.com/maps/api
VITE_GOOGLE_MAPS_API_VERSION=v3
VITE_GOOGLE_MAPS_API_LANGUAGE=fr

# Informations relative à FedaPay
VITE_FEDAPAY_PUBLIC_KEY=your_fedapay_api_key
VITE_FEDAPAY_API_URL=https://api.fedapay.com
VITE_FEDAPAY_API_VERSION=v1